<p>Hey {{ name }},</p>
<p>Thank you for authentifying yourself on our Pong website.</p>
<p>
    We wish you great luck and skill in your matches.
</p>

<p>If you did not request this email you can safely ignore it.</p>
